[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brclimr"]
	path = brclimr
	url = https://github.com/rfsaldanha/brclimr
[submodule "brpop"]
	path = brpop
	url = https://github.com/rfsaldanha/brpop
[submodule "tidyrates"]
	path = tidyrates
	url = https://github.com/rfsaldanha/tidyrates
