[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "brclimr"]
	path = brclimr
	url = https://github.com/rfsaldanha/brclimr
[submodule "brpop"]
	path = brpop
	url = https://github.com/rfsaldanha/brpop
[submodule "nseq"]
	path = nseq
	url = https://github.com/rfsaldanha/nseq
[submodule "read.dbc"]
	path = read.dbc
	url = https://github.com/danicat/read.dbc
	registered = false
[submodule "tidyrates"]
	path = tidyrates
	url = https://github.com/rfsaldanha/tidyrates
[submodule "zendown"]
	path = zendown
	url = https://github.com/rfsaldanha/zendown
[submodule "zenstats"]
	path = zenstats
	url = https://github.com/rfsaldanha/zenstats
